@page "/edituser"
@using Model
@using Client.Data
@inject NavigationManager navigationManager
@inject IUserService userService
@inject IBookingService bookingService
@attribute [Authorize]

<EditForm Model="@newUser" OnValidSubmit="@Confirm">
    <DataAnnotationsValidator />
    <body>

        <div class="section" style="margin-top:120px;">
            <div class="section-center">

                <div class="justify-content-center container d-flex">
                    <div class="row">
                        <div class="booking-form justify-content-center">
                            <div class="row">
                                <div class="col-12 my-3">
                                    <p style="color:white; padding-left:25px; font-size:2rem;">
                                        Edit info
                                    </p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">

                                    <div class=" col-md-6 mx-auto">
                                        <div class="form-group">
                                            <span class="form-label">First name</span>
                                            <InputText class="form-control" type="text" placeholder="First name" @bind-Value="newUser.firstName" />
                                            <ValidationMessage For="@(() => newUser.firstName)" />
                                        </div>
                                    </div>



                                    <div class=" col-md-6 ">
                                        <div class="form-group">
                                            <span class="form-label">Last name</span>
                                            <InputText class="form-control" type="text" placeholder="Last name" @bind-Value="newUser.lastName" />
                                            <ValidationMessage For="@(() => newUser.lastName)" />
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class=" col-md-12">
                                        <div class="form-group">
                                            <span class="form-label">Phone number</span>
                                            <InputNumber class="form-control" type="text" placeholder="Phone number" @bind-Value="newUser.phoneNumber" />
                                            <ValidationMessage For="@(() => newUser.phoneNumber)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mx-auto">
                                        <div class="form-group">
                                            <span class="form-label" style="margin-bottom:10px;">Birthdate</span>
                                            <InputDate class="form-control" type="date" placeholder="Birthdate" @bind-Value="newUser.dateOfBirth" />
                                            <ValidationMessage For="@(() => newUser.dateOfBirth)" />
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12 mx-auto">
                                        <div class="form-group">
                                            <span class="form-label">Email</span>
                                            <InputText type="text" class="form-control" placeholder="Email" @bind-Value="newUser.email" />
                                            <ValidationMessage For="@(() => newUser.email)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12  mx-auto">
                                        <div class="form-group">
                                            <span class="form-label">Password</span>
                                            <InputText class="form-control" type="password" placeholder="Password" @bind-Value="newUser.password" />
                                            <ValidationMessage For="@(() => newUser.password)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="color:red" class="font-weight-bold py-3">@errorMessage</div>
                                </div>

                                <div class="row">
                                    <div class=" col-md-12 mx-auto justify-content-between d-flex">
                                        <button type="submit" class="submit-btn">Confirm</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</EditForm>

@code {
    private User newUser = new User();
    private string errorMessage = "";

    protected async override Task OnInitializedAsync()
    {
        newUser = await userService.getUser(bookingService.getUsername());
    }

    private async Task Confirm()
    {
        try
        {
            await modifyUser();
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }

    private async Task modifyUser()
    {
        await userService.ModifyUser(newUser, bookingService.getUsername());
        navigationManager.NavigateTo("/searchflight");
    }
}